

.uye-ol-anahtar, .katil-adam, .katilma-adam, .vote-small, .katilma-el-small,
.katil-el-small
{ display: inline-block; background: url('/public/images/sprite.png') no-repeat;vertical-align:middle; }
 
.uye-ol-anahtar { background-position: -0px -0px; width: 112px; height: 112px; }
.katil-adam { background-position: -0px -112px; width: 48px; height: 48px; }
.katilma-adam { background-position: -48px -112px; width: 48px; height: 48px; }
.vote-small { background-position: -0px -160px; width: 23px; height: 23px; }
.katilma-el-small { background-position: -23px -160px; width: 23px; height: 23px; }
.katil-el-small { background-position: -46px -160px; width: 23px; height: 23px; }



body {
padding-bottom: 40px;
font-family: 'Open Sans', sans-serif !important;
padding-bottom: 40px;
 background:url('/public/images/bg.jpg');
}

a:hover{
text-decoration:none !important;
}

.logo{
font-size:24px !important;
color:black;
}

h3{
font-size:20px !important;	
}
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
  padding-top:20px;

}
.container-narrow > hr {
  margin: 30px 0;
}

.jumbotron {
  margin: 60px 0 30px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 30px;
  line-height: 1;
  padding-bottom:10px;
}
.jumbotron .btn {
  font-size: 18px;
  padding: 14px 24px;
}

.marketing {
  margin: 40px 0 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.upvote{
position:absolute;
top:2px;
}

.form-signin {
max-width: 250px;
padding: 19px 29px 29px;
margin-top:20px;
background-color: #FFF;
border: 1px solid #E5E5E5;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

textarea::-moz-placeholder {
color:gray;
font-size:18px;
}

textarea::-ms-input-placeholder {
color:gray;
font-size:18px;
}

textarea::-webkit-input-placeholder {
color:gray;
font-size:18px;
}

a.morelink {
    text-decoration:none;
    outline: none;
    color:black;
    background:gray;
    font-size:20px;
}

.morecontent span {
	display: none;
}

.more{
display:block;font-size:24px;line-height:1;font-weight:700;margin-bottom:20px;color:Black;
}

.more:hover{
color:#005580;
}

.arrow{
margin:20px 0 20px 0;	
}

.send{
border-radius:15px !important;
padding:10px 20px 10px 20px;
}
.agreed{
border-radius:20px !important;	
}

.disagreed{
border-radius:20px !important;	
}

.btn-success {
color: #FFF;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25) !important;
background-color: #5BB75B !important;
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#45AA99), to(#2b8874)) !important;
background-image: -webkit-linear-gradient(top, #45AA99, #2b8874) !important;
background-image: -o-linear-gradient(top, #45AA99, #2b8874) !important;
background-image: linear-gradient(to bottom, #45AA99, #2b8874) !important;
background-image: -moz-linear-gradient(top, #45AA99, #2b8874) !important;
background-repeat: repeat-x !important;
border-color: #51A351 #51A351 #387038 !important;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff51a351', GradientType=0);
filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}

.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
color: #FFF;
background-color: #2b8874 !important;
}


.btn-danger {
color: #FFF;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
background-color: #c43545;
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e93b59), to(#c43545))!important;
background-image: -webkit-linear-gradient(top, #e93b59, #c43545)!important;
background-image: -o-linear-gradient(top, #e93b59, #c43545)!important;
background-image: linear-gradient(to bottom, #e93b59, #c43545)!important;
background-image: -moz-linear-gradient(top, #e93b59, #c43545)!important;
background-repeat: repeat-x;
border-color: #BD362F #BD362F #802420;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffbd362f', GradientType=0);
filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}	

.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
color: #FFF;
background-color: #c43545;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover {
color: black !important;
background-color: #eaebe4 !important;
}

.nav > li > .login:hover {
text-decoration: none;
background-color: #eaebe4 !important;
}

.nav > li > .logoContainer:hover {
text-decoration: none;
background-color: white !important;
}


.nav > li > .logoContainer{
padding:0px !important;
}


.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
color: #E63C5A;
background-color: white;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow:none;
}

.navbar-inverse .nav .active > a{
opacity:1;
color:#E63C5A;
background:white;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow:none;
}

.navbar-inner {
background:white !important;
border:0px;
height:65px;
padding-left:0px;
padding-right:0px;
margin-bottom:0px;
}

.navbar .nav.pull-right {
margin-top:15px;	
}

.container-fluid.header{
max-width:920px;
margin:0 auto;
}

.upvoteButton{
background:white;
border:0px;
font-size:11px;
padding:0px;
margin-left:-4px;
}

.expand {
height: 1em;height: 40px;border-radius: 10px;width:665px;padding:15px;
}

.share{
width: 256px;
padding: 20px 10px 10px 10px;
margin: 3px 0 0 10px;
}	


