body {
padding-bottom: 40px;
/* font-family: 'Open Sans', sans-serif !important; */
font-family: 'Inconsolata', sans-serif !important;
padding-bottom: 40px;
}

.muted{
font-size:24px !important;
}
h3{
font-size:20px !important;	
}
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
  padding-top:20px;
}
.container-narrow > hr {
  margin: 30px 0;
}

.jumbotron {
  margin: 60px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 35px;
  line-height: 1;
  padding-bottom:10px;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.upvote{
position:absolute;
top:2px;
}

.form-signin {
max-width: 300px;
padding: 19px 29px 29px;
margin-top:20px;
background-color: #FFF;
border: 1px solid #E5E5E5;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

textarea::-moz-placeholder {
color:gray;
font-size:22px;
}

textarea::-ms-input-placeholder {
color:gray;
font-size:22px;
}

textarea::-webkit-input-placeholder {
color:gray;
font-size:22px;
}