<div style="width:450px;height:435px;margin:0 auto">
	<div style="margin:30px 0 30px 0;text-align:center">

	    <span style="color:#E63C5A;font-size:40px;letter-spacing:0px;font-weight: 400;font-family: 'Petit Formal Script', cursive;line-height:1.2;">&{'login.login'}</span>	    	    
	</div>

    <div style="width:290px;margin:0 auto;">
		<div style="text-align:center;margin:20px 0 0 0;">
			<span style="display:block;margin-bottom:5px;color:#92959C;font-size:12px;">&{'join.connect'}</span>
		 	<div id="loginWithFacebookButton"> 
		 		<a value="fblogin" onclick="fbLogin();" style="color:white;font-size:14px;font-weight:700;">
		 			<img style="width:25px;padding:7px 5px 7px 0;" src="/public/images/fb_beyaz.png">
		 				Facebook
		 		</a>
			</div>	 			
		 	<div id="loginWithTwitterButton"> 
				<a style="color:white;font-size:14px;font-weight:700;cursor:pointer;" target="_blank" onclick="$('#loginFormTwitter').submit()">	 					
					<img style="margin:0 0 0 -10px;width:25px;cursor:pointer;padding:10px 10px 10px 0;" src="/public/images/tw_beyaz.png">
		 			<span>Twitter</span>
				</a>
		 		<form id="loginFormTwitter" method="POST" action="/auth/authenticate" style="margin:0px 0px 5px 0px">
		 		 	<input type="hidden" name="type" value="TWITTER">
				 </form>
		 	</div>				
		</div> 
	</div>
		
		<form style="margin:0 auto;width: 300px; padding: 30px 0px 30px 0;" action="@{Auth.authenticate}" method="POST" accept-charset="${_response_encoding}" autocomplete="off">
		    <input type="hidden" name="fromModal" value="true">
		    <input type="hidden" name="url" value="${request.url}">
			<span style="text-align:center;display:block;color:#92959C;font-size:12px;">&{'login.login.email'}</span>
			<div style="position: relative; clear: both">
					<label class ="inFieldLabel" style= "font-size:14px;margin-top:17px;margin-left:40px;" for = "emailInput2" >&{'login.email'}</label>						
					<input value="${flash.get('user.name') ?: session.get('usernameForRemember')}" type="text" name="user.name" id="emailInput2" style="margin-bottom:0px;width:250px;height:35px;margin-top: 5px; padding-left: 35px;" />

					<img style="position: absolute; top: 18px; left: 15px" src="/public/images/user-black.png" /> 	
					
					#{if flash.emailFailed}					
						<div style="position:absolute;right:-70px;font-size: 12px;top:6px;float: left; background: black; color: white; width: 145px; border-radius: 6px">
							<div style="margin-top: 12px;" class="landing-error-arrow-left"></div>								
							<div style="background: black; color: white; float: left; border-radius: 6px; margin-left: -2px; padding: 11px 8px 12px 5px">${flash.emailFailed}</div>
						</div>
					#{/if}
				</div>
				<div style="clear: both"></div>
				

				<div style="position: relative; clear: both">
					<label class = "inFieldLabel" for = "passwordInput2" style= "font-size:14px;margin-top:17px;margin-left:40px;">&{'login.password'}</label>					
					<input type="password" name="user.profile.password" id="passwordInput2" style="width:250px;height:35px;margin-top: 5px; padding-left: 35px" /><br>								
					<img style="position: absolute; top: 20px; left: 17px" src="/public/images/private.png" /> 						
					
					#{if flash.passwordFailed}
					<div style="position:absolute;right:-70px;font-size: 12px;top:6px;float: left; background: black; color: white; width: 145px; border-radius: 6px">
						<div style="margin-top: 12px;" class="landing-error-arrow-left"></div>
						<div style="background: black; color: white; float: left; border-radius: 6px; margin-left: -2px; padding: 11px 8px 12px 5px">${flash.passwordFailed}</div>
					</div>
					#{/if}					
				</div>
				<div style="width: 293px; float: left;">
					<div style="float: left; margin-top: -3px">
						<input style="margin-top:-3px" type="checkbox" name="remember"><span style="font-size: 10px;margin-left:4px;color:#92959C;">&{'login.rememberme'}</span><br>
						<a style="color: #E63C5A; font-size: 10px; padding: 5px 0 0 0" class="action" href="/account/rst_pwd">&{'login.forgotpassword'}</a>
					</div>
					<div style="float: right">
						<input type="submit" value="&{'login.login'}" class="btn btn-medium" style="letter-spacing: 1px; font-family: 'Titillium Web', sans-serif; color: white; background: #E63C5A; border-radius: 4px;width: 85px;height: 35px;font-size: 15px;font-size:14px;color:white;background-color: #E63C5A;letter-spacing: 1px;padding:5px;border-right: 2px solid white;-webkit-box-shadow:none;box-shadow:none;-moz-box-shadow:none;border:0px;border:0px">
					</div>
				</div>
			</form>
</div>
