#{extends 'main.html' /}
#{set title:'#serbestsandik' /}

#{header connected:connected /}	

#{if flash.successMessage}	
	<div class="alert alert-success" style="background:green;font-size:12px !important;height:20px !important;margin:0 auto;width:250px;color:white;text-align:center;border:1px solid white">	
		${flash.successMessage}
	</div>
#{/if}


<div class="container-narrow">
      <div class="jumbotron">
      			%{
      			def p =parent;
      			def ll =[]; 
      			while(p!= null){
      			 ll << p ;
      			 p = p.parent; 	
      			}
      			def reverse = ll.reverse()
      			}%
      			#{list reverse, as:'item'}
      				<a href="/${item.id}/0">
      					<span class="comment more">	      									        		
	        				${item.st_text}      					        			
        				</span>
        			</a>
        			#{if !item_isLast}
                        #{if reverse[item_index].positive}
                        	<div class="arrow">
                        		<i class="icon-arrow-down"></i>
                            	<span style="color:green;">katiliyorum</span>
                            </div>
                        #{/if}
                        #{else}
                        	<div class="arrow">
                        		<i class="icon-arrow-down"></i>
                            	<span style="color:red;">katilmiyorum</span>
                            </div>
                        #{/else}
                    #{/if}
        		#{/list}
        		 
        		#{if positive==0}
        			<div style="width:450px;margin:0 auto">
	        			<div style="float:left">
			 	 		 	<a class="btn btn-large btn-success agreed" href="/${parent.id}/1">
			 	 		 		<span class="katil-el-small" style="margin-top: -5px;"></span>	
			 	 		 		<span>Katılanları gör</span>	 	 		 		
			 	 		 	</a>
		 	 		 	</div>
		 	 		 	
		 	 		 	<div style="float:right">
	        		 		<a class="btn btn-large btn-danger disagreed" href="/${parent.id}/-1">
	        		 			<span class="katilma-el-small" style="margin-top: -5px;"></span>	
	        		 			<span>Katılmayanları gör</span>        		 		
	        		 		</a>
	        		 	</div>
	        		 	<div class="clearfix"></div>
	        		 	<div style="float:left;color:gray;text-align:center;margin-left:80px">
	        		 		<span class="katil-adam"></span>
	        		 		<br>
	        		 		<span style="font-weight:700;font-size:28px;color:black">${parent.positiveChild.size()}</span>
	        		 		<br>
	        		 		<span>KİŞİ</span>
	        		 	</div>
	        		 	<div style="float:right;text-align:center;margin-right:80px">
	        		 		<span class="katilma-adam"></span>
	        		 		<br>
	        		 		<span style="font-weight:700;font-size:28px;color:black">${parent.negativeChild.size()}</span>
	        		 		<br>
	        		 		<span style="color:gray">KİŞİ</span>
	        		 	</div>
        		 	</div>
        		#{/if} 
        		#{elseif positive==1}
        			<div class="arrow">
        		 		<i class="icon-arrow-down"></i>
<!--         		 		<span style="color:green;">katiliyorum çünkü</span> -->
        		 	</div>
        		#{/elseif} 
        		#{elseif positive==-1}
        			<div class="arrow">
        		 		<i class="icon-arrow-down"></i>
<!--         		 		<span style="color:red;">katilmiyorum çünkü</span> -->
        		 	</div>
        		#{/elseif}               
      </div>
    
      <div class="row-fluid marketing">
        <div class="span12">   
        	#{if !isFirst}       
        		#{if params.positive!="0"}
					<form  action="@{Application.addStatement}" method="POST" accept-charset="${_response_encoding}" autocomplete="off">
			 	 		<fieldset>  
			 	 		#{if params.positive=="1"} 		
			    			<textarea class="expand" rows="3" placeholder="Katılıyorsan fikrini yaz..." name="text"></textarea>
			    		#{/if}
			    		#{elseif params.positive=="-1"}
			    			<textarea class="expand" rows="3" placeholder="Katılmıyorsan fikrini yaz..." name="text"></textarea>			    		
			    		#{/elseif}
			    		<input type="hidden" name="parent" value="${parent.id}"/>
			    		<input type="hidden" name="positive" value='${params.positive}'/>
			    		<br>    		    	    
			    		
			    		#{if params.positive=="1"} 		
			    			<button type="submit" class="btn btn-large btn-success send" style="float:right" >Gönder</button>
			    		#{/if}
			    		#{elseif params.positive=="-1"}
			    			<button type="submit" class="btn btn-large btn-danger send" style="float:right" >Gönder</button>			    		
			    		#{/elseif}
			    		
			    		
			  			</fieldset>
					</form>					
				#{/if}
				
				#{if params.positive=="1"}
						<h3>Diğer katılanların fikirleri:</h3>
				#{/if}
				#{elseif params.positive=="-1"}
						<h3>Diğer katılmayanların fikirleri:</h3>
				#{/elseif}
				
				<div style="background:white;border-radius:10px;font-weight: 600;">			
				#{if params.positive=="1"}
					#{list parent.positiveChild}
						<div style="padding:10px">
						<span style="font-size:11px;font-weight: 700;">
							${_.owner.username}
						</span>
						<span style="font-size:11px;float:right;color:#C9C7C7;font-weight: 700;">
							${_.entryDate.format('dd MMMM yyyy','tr')}
						</span>
						
						<div style="clear:both;margin-bottom:5px">														
							<div style="float:left;margin-right:10px;margin-bottom:5px">							
								<div style="line-height:16px !important;margin:2px 0 5px 0;width:540px;height:auto;">
									<span style="font-size:11px;color:gray">${_.st_text.raw()}</span>
								</div>
							</div>
							
							<div class="clearfix"></div>
							
							<div style="float:left;">
								<a href="/${_.id}/1">
									<span class="katil-el-small"></span>
									<span style="font-size:11px;color:green;margin-left:-5px">Katılanları gör</span><span style="margin-left:3px;font-size:11px;color:black">(${_.positiveChild.size()})</span>
								</a>
	        		 			<a href="/${_.id}/-1">
	        		 				<span class="katilma-el-small"></span>	        		 				
	        		 				<span style="font-size:11px;color:red;margin-left:-5px">Katılmayanları gör</span><span style="margin-left:3px;font-size:11px;color:black">(${_.negativeChild.size()})</span>
	        		 			</a>
	        		 		</div>
	        		 		
	        		 		<div style="float:right">
                            <div style="float:right;position:relative;margin-left:10px">
                                <form style="margin-bottom:10px;" method="POST" action="@{Application.deleteStatement}">
                                    <input  type="hidden" name="id" value="${_.id}">
                                     #{if connected?.username==_.owner?.username}
                                    	<input  type="submit" class="btn btn-mini btn-danger" value="Sil" style="text-align: center;margin-right: 10px;"/>
                                     #{/if}
                                </form>
                            </div>
							<div style="float:right;position:relative;">
							    <form style="margin-bottom:10px;" method="POST" action="@{Application.upvoteStatement}">
		        		 			<input  type="hidden" name="id" value="${_.id}">  
		        		 			<button type="submit" class="upvoteButton">		        		 				
		        		 				<span class="vote-small"></span>
		        		 				Yukarı Taşı
		        		 			</button>
		        		 			<span style="font-size:11px;font-weight:bold;margin-top:2px;color:gray">(${_.point})</span>	        		 			     		 		
		        		 			
	        		 			</form>   
							</div>
							</div>
							<div class="clearfix"></div>							
	        		 	</div>
	        		 	<div style="height:0px;border:1px solid #ebebeb;width:670px;margin: 0 auto"></div>
	        	
	        		 	</div>
					#{/list}
					#{else}
						<div style="padding:10px">
							Henüz bir şey girilmemiş.
						</div>
					#{/else}
				#{/if}
				#{elseif params.positive=="-1"}
					#{list parent.negativeChild}
						<div style="padding:10px">
						<span style="font-size:11px;font-weight: 700;">
							${_.owner.username}
						</span>
						<span style="font-size:11px;float:right;color:#C9C7C7;font-weight: 700;">
							${_.entryDate.format('dd MMMM yyyy','tr')}
						</span>
						
						<div style="clear:both;margin-bottom:5px">														
							<div style="float:left;margin-right:10px;margin-bottom:5px">							
								<div style="line-height:16px !important;margin:2px 0 5px 0;width:540px;height:auto;">
									<span style="font-size:11px;color:gray">${_.st_text.raw()}</span>
								</div>
							</div>
							
							<div class="clearfix"></div>
							
							<div style="float:left;">
								<a href="/${_.id}/1">
									<span class="katil-el-small"></span>
									<span style="font-size:11px;color:green;margin-left:-5px">Katılanları gör</span><span style="margin-left:3px;font-size:11px;color:black">(${_.positiveChild.size()})</span>
								</a>
	        		 			<a href="/${_.id}/-1">
	        		 				<span class="katilma-el-small"></span>	        		 				
	        		 				<span style="font-size:11px;color:red;margin-left:-5px">Katılmayanları gör</span><span style="margin-left:3px;font-size:11px;color:black">(${_.negativeChild.size()})</span>
	        		 			</a>
	        		 		</div>
	        		 		
	        		 		<div style="float:right">
                            <div style="float:right;position:relative;margin-left:10px">
                                <form style="margin-bottom:10px;" method="POST" action="@{Application.deleteStatement}">
                                    <input  type="hidden" name="id" value="${_.id}">
                                     #{if connected?.username==_.owner?.username}
                                    	<input  type="submit" class="btn btn-mini btn-danger" value="Sil" style="text-align: center;margin-right: 10px;"/>
                                     #{/if}
                                </form>
                            </div>
							<div style="float:right;position:relative;">
							    <form style="margin-bottom:10px;" method="POST" action="@{Application.upvoteStatement}">
		        		 			<input  type="hidden" name="id" value="${_.id}">  
		        		 			<button type="submit" class="upvoteButton">		        		 				
		        		 				<span class="vote-small"></span>
		        		 				Yukarı Taşı
		        		 			</button>
		        		 			<span style="font-size:11px;font-weight:bold;margin-top:2px;color:gray">(${_.point})</span>	        		 			     		 		
		        		 			
	        		 			</form>   
							</div>
							</div>
							<div class="clearfix"></div>							
	        		 	</div>
	        		 	<div style="height:0px;border:1px solid #ebebeb;width:670px;margin: 0 auto"></div>
	  
	        		 	</div>
					#{/list}
					#{else}
						<div style="padding:10px">
							Henüz bir şey girilmemiş.
						</div>
					#{/else}
				#{/elseif}
				</div>
			#{/if}             
        </div>
      </div>
      <div class="footer"></div>
</div>
