#{extends 'main.html' /}
#{set title:'Home' /}

<div class="container-narrow">

      <div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="#">Giriş</a></li>
          <li><a href="#">Nedir?</a></li>
        </ul>
        <h3 class="muted">#ProjectName</h3>
      </div>

      <hr>

      <div class="jumbotron">
        <h1>Gezi parkı direnişini destekliyorum</h1>        
        <a class="btn btn-large btn-success" href="#">Evet</a>
        <a class="btn btn-large btn-danger" href="#">Hayır</a>
      </div>

    

      <div class="row-fluid marketing">
        <div class="span12">
          

         <form>
 	 		<fieldset>
    		<legend>Çünkü</legend>    		
    		<textarea style="width:500px;" rows="3" placeholder="fikrini belirt..."></textarea>
    		<br>
    		    	     
    <button type="submit" class="btn">Gönder</button>
  </fieldset>
</form>
         
        </div>

        
      </div>

      <hr>

      <div class="footer">
        <p>© Company 2013</p>
      </div>

    </div>