#{extends 'main.html' /}
#{set title:'Giriş Yap' /}

#{header connected:connected /}	

<div style="width:625px;margin:0 auto;padding-top:60px">
	#{if flash?.error}
		<div class="alert alert-success" style="background:red;font-size:12px !important;height:20px !important;margin:0 auto;width:250px;color:white;text-align:center;border:1px solid white">	
			${flash.error}
		</div>
	#{/if}
      	
	<div class="signUpBoxContainer" style="float:left">			
		<div>
			<form style="min-height:340px;height:auto;width:300px" class="form-signin" action="@{Auth.register}" method="POST" accept-charset="${_response_encoding}">			  
			  <!--[if IE]>
				Kullanıcı Adı			
			  <![endif]-->
			  <div style="position:relative;">
			  	<input style="border:0px;height:50px;background:#eaebe4" type="text" class="input-block-level" placeholder="Kullanıcı Adı" name="username" size="19" value="${flash.username}" id="username" /> 
			  	<span style="position:absolute;top:14px;right:6px">#{error 'username' /}</span><br>
			  </div>
			   <!--[if IE]>
				Şifre			
			  <![endif]-->
			  <div style="position:relative;">
			  	<input style="border:0px;height:50px;background:#eaebe4" type="password" placeholder="Şifre" class="input-block-level"  size="19" name="password" value="${flash.password}" id="password" />
			  	<span style="position:absolute;top:14px;right:6px">#{error 'password' /}</span><br>
			  </div>	  
			  <div style="background:white;width:150px;height:45px">
			  	<img style="float:left;display:block;clar:both " src="@{Application.captcha(randomID)}" />
			  </div>
			  <br>
              <input type="hidden" name="method" value="&{flash.method}"/>
              <input type="hidden" name="param1" value="&{flash.param1}"/>
              <input type="hidden" name="param2" value="&{flash.param2}"/>
              <input type="hidden" name="param3" value="&{flash.param3}"/>
              
              <!--[if IE]>
				<span>Resimdeki karakterleri girin</span>			
			  <![endif]-->  
              <div style="position:relative;">
		  	  	<input style="border:0px;height:45px;width:237px;background:#eaebe4" type="text" name="code" id="code" size="20" value="" placeholder="Resimdeki karakterleri girin"/>
		  	  	<span style="position:absolute;top:14px;right:6px">#{error 'code' /}</span><br>
		  	  </div>
		  	  <input type="hidden" name="randomID" value="${randomID}" />
		  	  <div style="padding-top:33px;width:140px;margin:0 auto">
			  	<button style="color:white;width:140px;border-radius:10px" class="btn btn-large btn-success" type="submit">Üye ol</button>
			  </div>
			</form>
		</div>		
	</div>
	
	
	<div class="loginBoxContainer" style="float:right">
		<form style="height:auto;min-height:340px;width:300px" class="form-signin" action="@{Auth.authenticate}" method="POST" accept-charset="${_response_encoding}">
			<div style="width:100px;margin:0 auto">
				<span class="uye-ol-anahtar"></span>
			</div>
			<input type="hidden" name="method" value="&{flash.method}"/>
            <input type="hidden" name="param1" value="&{flash.param1}"/>
            <input type="hidden" name="param2" value="&{flash.param2}"/>
            <input type="hidden" name="param3" value="&{flash.param3}"/>
            <br>
            <!--[if IE]>
				<span>Kullanıcı Adı</span>			
			<![endif]-->            
            <div style="position:relative;">
				<input style="border:0px;height:50px;background:#eaebe4" type="text" class="input-block-level" placeholder="Kullanıcı Adı" name="userNameLogin" value="${flash.userNameLogin}" id="email" />
				<span style="position:absolute;top:14px;right:6px">#{error 'userNameLogin' /}</span>
			</div>
			<!--[if IE]>
				<span>Şifre</span>			
			<![endif]-->  
			<div style="position:relative;"> 
				<input style="border:0px;height:50px;background:#eaebe4" type="password" placeholder="Şifre" class="input-block-level" name="passwordLogin" value="" id="password" />
				<span style="position:absolute;top:14px;right:6px">#{error 'passwordLogin' /}</span> 
			</div>
			<br>
			<div style="padding-top:10px;width:140px;margin:0 auto">
				<button style="color:white;width:140px;border-radius:10px" class="btn btn-large btn-success" type="submit">Giriş</button>
			</div>
		</form>
	</div>

</div>