#{extends 'main.html' /}
#{set title:'Giriş Yap' /}

#{if flash?.error}
	<div style="margin:0 auto;width:200px;heigt:auto;background:red;text-align:center;margin-bottom:10px">
		${flash.error}
	</div>
#{/if}

<div class="container" style="margin-top:80px">
	<form class="form-signin" action="@{Auth.authenticate}" method="POST" accept-charset="${_response_encoding}" style="background-color: #115685;border: 1px solid #114567;color:white">
	  <h2 class="form-signin-heading" style="padding-bottom:10px">Giriş Yap</h2>
	  <input type="text" class="input-block-level" placeholder="Kullanıcı Adı" name="userName" size="19" value="${flash.userName}" id="email" /> &nbsp;#{error 'userName' /} 
	  <input type="password" placeholder="Şifre" class="input-block-level" name="password" size="19" value="" id="password" /> &nbsp;#{error 'password' /}
	  <br>
	  <button style="color:black" class="btn btn-large btn-warning" type="submit">Giriş</button>
	</form>
</div>